@import url("https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&display=swap" );

*{
  font-family: 'IM Fell DW Pica', serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.main-edit-btn {
  margin: 0 0 0 2px;
  color: #7BBAFA;
}

.main-view-btn {
  margin: 0 0 0 2px;
  color: #a3d1b6;
}

.main-delete-btn {
  margin: 0 0 0 2px;
  color: #a895d6;
}

.my-voyages-header {
  margin: 0 0 -4px 10px;
  float: left;
}

.table-filters {
  color: black;
  margin: 10px 5px 0px 0px;
  float: right;
}

.table-filters-first {
  color: #6e6e6e;
  margin: 10px 15px 0px 0px;
  float: right;
}

.navbar {
  background-color: rgb(21, 21, 21);
}

.navbar-brand {
  font-size: 28px;
  color: #FFD700;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-brand:hover {
  font-size: 28px;
  color: #FFD700;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-brand:link {
  text-decoration: none;
}

.nav-link {
  color: #C0C0C0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav-link:hover {
  color: #C0C0C0;
  text-shadow:0px 0px 15px rgb(239, 239, 239);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav-link:link {
  text-decoration: none;
}

img {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.glowGold {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px 0px #FFD700;
  -moz-box-shadow:    0px 0px 30px 0px #FFD700;
  box-shadow:         0px 0px 30px 0px #FFD700;
}

.glowSilver {
  text-decoration: none;
  color: #C0C0C0;
  text-shadow:0px 0px 15px rgb(239, 239, 239);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in 0.2s ease-out;
}

.form-control {
  margin: -10px 0 0 0;
}

.header-footer {
  margin: 0 0 10px 0;
}

.container {
  padding: 0;
}

.center-text {
  margin: 20% auto;
  text-align: center;
}

div.definition {
  max-width: 45%;
  font-style: italic;
}

#logoCaption {
  padding: 40px 0 0 0;
}

.fadeInOne {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.fadeInTwo {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

.fadeInThree {
  animation: fadein 6s;
  -moz-animation: fadein 6s; /* Firefox */
  -webkit-animation: fadein 6s; /* Safari and Chrome */
  -o-animation: fadein 6s; /* Opera */
}

.fadeInFour {
  color: rgb(126, 126, 126);
  padding: 10% 0 0 0;
  animation: fadein 12s;
  -moz-animation: fadein 12s; /* Firefox */
  -webkit-animation: fadein 12s; /* Safari and Chrome */
  -o-animation: fadein 12s; /* Opera */
}

.lowestInstruction{ 
  font-size: 1em;
}

.form-horizontal {
  padding: 30% 0 0 0;
}

.form-control:focus {
  border-color: #FFD700;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}